.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 10px;
    width: 100px;
    height: 45px;
    float: right;
    border: 2px solid #ffffff;
    border-radius: 500px;
}
